<a href="https://colab.research.google.com/github/supriyajujjuri/python/blob/main/supriyaB7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Module--> Python

In [ ]:
#what is python?
''' Most emerging, General Purpose Programming language
High -level programming langugae
Dynamically typed programming langugae
Object-oriented programming language.-->oop’s
Interpreted programming language '''

In [ ]:
#what is Most emerging, General Purpose Programming Language?
'''emerging means day-to-day life most of the people are using a python programming language
Genral purpose:
 1. python is mainly used for Data management
 2. guido van Rossum
 3. c language
 4. is also used in web development and mobile app development...etc
apart from above usage the python is used for general purpose means for example
 ISRO SCIENTIST use python for physics calculations
 image processing
 to convert a large word file into a pdf file.
 track the stocks'''

In [ ]:
#How many levels of programming languages ?
'''there are 2 levels
1. High-Level:- is also known as “Human friendly programming language”
 -->Here the codes are not changing into binary forms
 --> you feel this language as a english langugae when you read the code
 --> python and Java
2.Low-level:- is also known as “machine friendly programming language”
 --> The each line of code is changing in to binary forms. Binary means 0's and 1's
 --> You are having more line of code
 --> c and c++'''

In [ ]:
#How many types of programming languages?
'''there are 2 types
1.statically typed:- we need to define the data type for the variables
 ex:- int[a]=10
 float[b]= 10.5
str[c]=”hello”
 ex:- java, c, c++
2. Dynamically typed:- we no need to define the dtype for the variable
 ex:- a = 10
 b = “hello”
 a = 10.5
 ex:- python
python can read the data type automatically by itself'''

In [ ]:
# what is an Object-oriented programming language?-->oop’s
'''In OOP’s the each line of code is having its own identity, properties or attributes and methods of interactions
How can you define this object
The object can be defined in 3 ways 1. identity, 2, properties or attributes, 3methods of interaction
class--> softwqare programe--> int
object-->python program x = 10
Identity
 1.python
x = 10
properties/attributes pLHL DT
IP
Methods of interactions
IDE’s-->
integrated development environment
Google colab
pycharm
jupyternotebook vs code'''

In [ ]:
#What is an interpreted programming language?
'''The code can execute line by line and the last lines of code or values can be taken into
consideration
x = 10
y = 5
x = 20
y = 40
print(x+y)'''

In [ ]:
#what is an IDE’s?
#integrated development environments
#How can you define an ide?
'''it is an environment where we write our code, or execute our code or compile our code or
also this ide also defined as “interpreter”
google colab, pycharm,Jupyter Notebook, vs'''

In [ ]:
#Note:- python is a most emerging, general purpose, high-level, oop, Dynamically typed and interpreted programming language

In [ ]:
#why the comment is important is Python?
'''for better understanding of the code we are making comments
these comments are two types
1. single line comment--> #
2.Multiline comment--> “““ ”””(double triple quotes) or single triple quotes(‘‘‘ ’’’)'''

**Numerical data types in python**

In [ ]:
# there are 3 types of data types
#1. Integer----> int
#what is an integer?
# INt is a whole number either +ve or -ve without decimal points
print(10)
print(-5)
#i want to find the data types of above numbers
#use "type()" is a inbuilt funtion used to find your data types
print(type(10))
print(type(-5))

In [ ]:
#2.float:- ---> float
#what is a float?
#whole number either +ve or -ve with decimal points
print(10.5)
print(-5.5)
print(type(10.5))
print(type(-5.5))

In [ ]:
#complex number:- ----> complex
#what is a complex number?
#A real number with its imaginary part is known as complex number
#the imaginary has to be in "j" is known as "iota" tha value of j is root -1
print(2+5j)
print(3+5j)
print(type(2+5j))

**Arthmetic opereators**

In [ ]:
#There are 7 arthametic operators
#1. addition-->+
print(10+5)
print(type(10+5))
#2. substraction--> -
print(10-5)
print(type(10-5))
#3. multiplication--> *
print(10*5)
print(type(10*5))
#4. division-->  /
print(10/5)
print(type(10/5))
# why the default data type for divison is float?
# in most of the division operation the co-effiecient you may get as a float sometimes or fixed number sometimes
# so it is easy to concert a float into integer
# to get the actual or sufficient coefficient

In [ ]:
#5. Modulus---> %
# modulus is defined as remainder of the division
print(10 % 5)
print(type(10 % 5))
#to find even and odd data or number or prime numbers we are using modulus
print(236548243769 % 2)

0
<class 'int'>
1

In [ ]:
#6. exponential ---> **
#to the power off
print(2**3)
print(type(2**3))
#use **0.5
print(25**0.5)

In [ ]:
#7. floor divison--> //
#it ignores the values after the decimal point
print(10 / 3)
print(10 // 3)

**Round()**

In [ ]:
#what is round function()?
#round() can be executes if it is a decimal number
#if the decimal point is more than or equal to 0.5 then you get next upcoming value which is known as ceil value
#round() is used to print specific ndigits
#what is a ceil value and floor value?

In [ ]:
print(round(6.6))
print(round(6.4321))
print(round(2.46))

7
6
2

In [ ]:
#round(number, count_ndigits)
print(round(345.2454873,3))

345.245

In [ ]:
#when using -ve count then round function igenores the values after decimal point means it makes decimal point as a zero
print(round(-15345.98765,-4))

-20000.0

In [ ]:
print(10)
print(10.5)
print(3-4j)

In [ ]:
print(10+5)
print(type(10+2.5))
print(10-5)
print(type(10-5))
print(10*5)
print(type(10*5))
print(10/5)
print(type(10/5))
print(10% 8)
print(type(10%8))
print(10**3)
print(type(10**3))
print(10//3)
print(type(10//3))
print(25**0.5)

In [ ]:
print(round(6.49))
print(round(933.92458, 3))
print(round(25961.592, -2))

In [ ]:
#what is the variables?
#variables are nothing but containers where we can store our valuable information or data and reuse it.
#How can we create a variable?
#we can create variables by using alphabets
#it will occupy low memory  and it will enahance python program
#we can store the values we can re use
s="Hello World"
print(s)
print(type(s))

In [ ]:
#take 2 variables and apply all the arthametic operators?
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

Types of Errors

In [ ]:
#there are two types of errors
#1.Syntax error
#2.Logical error

#what is syntax error
#breaking the rules of the programming language can rise an syntax error
""" hi
good day!'''

In [ ]:
#what is logical error
#except syntax error all the errors comes under the logical error
#ex:-Name error,attribute error,indentation error,recurssive error...etc

Rules to create variables

In [ ]:
#1.start creating the variable by using alphabets
a=10
print(a)
h="Hello world"
print(h)

In [ ]:
#2.dont start creating variables by usimg the numbers
2="hello"
5=10
print(2)

In [ ]:
#3.if you follow rule 1 and 2 you can use numbers in between varible
son2age=20
print(son2age)

In [ ]:
#4.dont use special characters in the variable name
#@&^&*%#@ space also
son&age =  20
print(son&age)

In [ ]:
#5.we cannot use the white space in between variables
a b c = 10 20 30
print(a b c)
#note:-if you want to separete the variables use(,) coma in between variables

In [ ]:
#6.we can start creating the variables by using _ underscore instead of space we can use underscore
son_age=20
print(son_age)
_ ="hello"
print(_)
print("hello"+"world")

20
hello
helloworld

In [ ]:
#7.we cannot use the capital letters as a varible name
SON_AGE = 20
PRINT(SON_AGE)

In [ ]:
#what is dynamically typed programming language?
#we cannot define dtypes for varibles
a="hello world!"
print(type(a))
#str[a]="hello"
b = 10
print(type(b))
python will updates datatypes by itself

Python is a case sensitive programming language

In [ ]:
#u ="hello"
print(U)

Python is an interpreted programming language

In [ ]:
#python executes the program step by step
a=10
b=20
a=30
b=40
print(a+b)

In [ ]:
#we cannot consider keywords as an varible
#what is keyword ?
#keywords are predefines words or names in python
#these are also part of your python syntax
#ex:-if,for,while,for,else,try,except,def...etc

In [ ]:
#how can you print overall keywords in python?
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)

(5, 4, 3, 2, 1)

In [ ]:
z=set('abc$de')
'a' in z

True

smart ways of writing variables

In [ ]:
#1.assign multiple values to multiple varibles and print in seperate line
#hint:-take three varibles and print in separete line
a=5
b=10
c=3
print(a)
print(b)
print(c)
a,b,c=5,10,3
print(a,b,c, sep='\n')
# sep is used to print actual output in separate lines (backward slash 'n'(\n)means print output)

In [ ]:
#1.assign single value to multiple varibles and print in seperate line
#hint:-take three varibles and print in separete line
#a,b,c=1---->type error
#print(a,b,c, sep='\n')
a=1
b=1
c=1
print(a)
print(b)
print(c)
a=b=c=1
print(a,b,c, sep='\n')

Input()

In [ ]:
#what is input()
#it is user defined variable
#it is a inbuilt function used to intake any kind of information from user and store it
#what is the purpose of input()?
#multiple user valuable information or data  intakes and low memory occcupency
#enhance python performance
#How can we create this input()?
a=input()
print(a)
print(type(a))
 #what is the default data type for input()?
#string
#why the default dtype for input() is string?
"""we dont know what type of information can we taken from the user,so the
class which accepts all the characters is string
string is the only class which is having collection of multiples characters"""

In [ ]:
a=input("enter the number: ")
b=input("enter the number: ")
print(a+b)

In [ ]:
# How can we apply the arthematic operations by uising the input()'s?
# we need to mention the numeric data type for input()
a=  int(input("enter the number: "))
b= int(input("enter the number: "))
print(a+b)

In [ ]:
s= input("enter tghe valid email: ")
print(s)

In [ ]:
# what is string?
# string is a collecrion of multiple characters which are declared inside("")('')
#any message that can be written inside the"" or '' is know as string

In [ ]:
# How many types of strings?
#single line sting--->('') or(" ")
#multiple string--->(''' ''') or(""" """)

In [ ]:
# string is collection of multiple cahracters where each cahracter is accessible
#How can we declare the string?
#declared inside(" ")('')

In [ ]:
# How can we access the characters inside the sting?
#By using indexes and slicing operator we can access the characters inside the string

In [ ]:
# what is index?
# indexing means sequential postion number of each character in the string
# the indexing can be starts from '0'

In [ ]:
# what is slicing?
# process of getting or accessing a substring from the main string
#slicing---> []
#what is substring?
# a part of string from main string
#[index_position number]
#i want to print character from below string?
h= "Hello world!"
print(h[0])
print(h[5])

In [ ]:
#print "hello" form the below sting?
a= "Hello world!"
#[start:end]
print(a[0:5]) # end is always n+1
#Note: slicing can be stop before the given end index position number
print(a[3:8])

In [ ]:
#print the even index positon characters from the below string?
h= "Hello world!"
#[start:end: step]
print(h[0:12:2])

In [ ]:
# how can we find the length of a string?
#by using len()
#in len() it starts with 1
print(len(h))
print(len(h)-1)# gives the last index

**Negative indexing**

In [ ]:
  # what is Negative indexing?
  # accessing the string characters in reverse direction
  #-ve index start with -1
  u= "hello world!"
  print(u[11])
  print(u[-1])

In [ ]:
#print the world in reverse direction
print(u[-1:-7:-1])

!dlrow

In [ ]:
l= "hello world!"
print(l[-7:-1])

**default indexing**

In [ ]:
s=" hello world"
print(s)
print(s[:])
# what is default postion number of start and end when we use default indexing
#[start is 0: end is len(string)]
print(s[::])
#[start is 0: end is len(string)]: step is 1]

In [ ]:
# malayalam
k= input("enter your string: ")
print(k[::-1])
print(k[::2])

enter your string: malayalam
malayalam
mlylm

In [ ]:
k= "supriya"
print(k[1::2][0:3]) # subslicing
#el
print(k[-1])

In [ ]:
s = "Hello Team Good Morning!"
print(s[-1])
#print the even characters from the above string
# print(s[:])
# print(s[0:len(s):1])
print(s[::2])
#print the odd characters
print(s[1::2])

In [ ]:
#check weather the given strings are palindrome or not
#"mom", madam, hyderabad, malayalam, karnatak
a = input()
print(a[::-1])

In [ ]:
h = "hello world!"
#use dir()
print(dir(h))
"""'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith',
'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum',
'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower',
'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join',
'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix',
'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition',
'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip',
'swapcase', 'title', 'translate', 'upper', 'zfill' """

In [ ]:
#important methods
#1. upper()
#2. lower()
#3. count()
#4. replace()
#5. swapcase()
#6. strip()
#7. lstrip()
#8. rstrip()
#9. capitalize()
#10. title()
#11. find()
#12. index()

In [ ]:
a = "hello world!"
#how can we apply string methods?
print(a.capitalize())
print(a.lower())
print(a.upper())

Hello world!
hello world!
HELLO WORLD!

In [ ]:
h = "  hello world!   "
print(h)
print(h.strip()) #removes the unwanted spaces
print(h.lstrip())
print(h.rstrip())

In [ ]:
u = "hello world!"
#replace the above string "world" with universe
print(u.replace("world","universe"))
#replace("old_string","newstring")

In [ ]:
print(u.find("k"))
print(u.index('l'))

In [ ]:
l = "hello team good morning , team"
print(l.count('team'))
#zfill()

In [ ]:
z = "hello"
print(z.zfill(6))

0hello

*** string format methods***

In [ ]:
age = 10
txt = f"i am {age} years old"
print(txt,age)
#string formatting means it takes an argument and place it over the placeholder {}

In [ ]:
name = "product A"
quantity = 10
price_each = 99.9
notification = f"your order for {name} has been confirmed with an quantity of {quantity} and total price {price_each*quantity}/-"
print(notification)

  **escape characters**

In [ ]:
#EC is used to print the illegal characters in the string -->it is decalred in backward slash(\) infront of illegal characters
a = "hi team \"good day\" hope you are doing well"
print(a)

**conditional statements**

In [ ]:
     #what is conditional statemnets? and why we are using conditional statements?
     #to check the condition is satisfied or not satisfied
     #to make decission in programming we use conditional statements
     #we are having 3 conditions
     #if--->else--->else

In [ ]:
#how can you make this condition are satisfied or not satisfied
#how can we check the conditions?
#we are checking conditions based on "comparision operators"
#what is comparision operators and how many types?
#comparision operators also known as "relational operators"
""" 1. equals too---> ==
    2. not equals too---->!=
    3. greater than----> >
    4. less that--->  <
    5. greater than or equal to---> >=
    6. less than or equal to --->  <= """

In [ ]:
# write a program to check weather the student is pass or fail
pass_marks = 40
student_marks=int(input("enter your marks: "))
if student_marks >= pass_marks:
  print("congratulation you are qualified")
else:
  print("better luck next time   ")

In [ ]:
#write a program to print weather the given number is +ve or -ve if it is zero means print nuetral
a= int(input("enter the number: "))
if a>0:
  print("positive")
elif a==0:
  print("neutral")
else:
  print("-ve")

In [ ]:
#write a program to check weather the given number is even or odd?
# if num is even print "even" or else print odd
a=int(input("enter the number: "))
if a%2== 0:
  print("even")
else:
  print("odd")

In [ ]:
# check weather the given numbers prime number or not?
a= int(input("enter your number: "))
if a/a
#check weather the given string is palindrome or not
#mom,malayalam,
#check weather the given string is palindrome or not irrespective of letter case
print("a" == "A")
print("Hello" == "hello")
print("MoM" == "mom")
a  = input("enter your string: ")
if a.lower() == a[::-1].lower():
  print("yes palindrome")
else:
  print("Not Palindrome")

*** Logical operators***

In [ ]:
# to check the multiple conditions at a time we need to use logical operators
# there are 3 types of logical operators
#1. and:- excutes the program when all the conditions are true
#2. or:- excutes the program if any one condition is satisfied or true
#3. not:- it reverse your actual output
print(1==1)
print(not(1==1))

In [ ]:
#1.and:- excutes the program when all the conditions are true
a=455
b= 56
c=60
d=25
#check that a is greater than c and b is greater than d and d is less than c
# if these conditions are true or satisfied print all the conditions satisfied else print no condition satisfied
if a>c and b>d and d<c:
  print(" all the conditions satisfied")
else:
  print("anu one condition is not satisfied")

 all the conditions satisfied

In [ ]:
#2. or:- excutes the program if any one condition is satisfied or true
a=455
b= 56
c=60
d=25
#from above data check if any one condition is satisfied execute the program
# check a less than b and b is less than c and c is greater than a and d is less than a
if a<b or b<c or c>a or d<a:
  print("true")
else:
  print("false")

In [ ]:
#2. or:- excutes the program if any one condition is satisfied or true
a=455
b= 56
c=60
d=25
#from above data check if any one condition is satisfied execute the program
# check a less than b and b is less than c and c is greater than a and d is less than a
if a<b or b<c or c>a or d<a and a>300:
  print("true")
else:
  print("false")

In [ ]:
# write a program to check weather the user is eligible for adventure ride or not
# if the age is between 15 to 4o they are eligible for ride
#below 5 is not not eligible for ride
#above 40 print please choose another ride
a= int(input("enter your age: "))
if a>=15 and a<=40:
  print("eligible for ride")
elif a>40:
  print(" choose another ride")
else:
  print("not eligible for ride")

enter your age: 30
eligible for ride

In [ ]:
# what is nested condition?
#writing a condition inside the another condition is known as nested condition
# why we require nested condition or when we have to use nested condition?
# a condition can be executed if the previous step or condition is satisfied
# if you want a series of outputs then we use nested conditions
a = 30
# check if a is a gerater than 10,20,30,40,50,60
#print( a is greater than 10)
#print( a is greater than 20)
#print( a is greater than 30)
#print( a is less than 40)
if a > 10:
  print("a is greater than 10")
  if a > 20:
    print("a is greater than 20")
    if a > 30:
      print("a is greater than 30")
      if a > 40:
        print("a is greater than 40")
      else:
        print(" a is less than 40")
    else:
      print(" a is less than 30")
  else:
    print("a is less than 20")
else:
  print("a is less than 10")

In [ ]:
#write a program based on marks of the student print the grades
# if the student is getting marks from 40 to 50----> print "you have received "d" grade"
# if the student is getting marks from 51 to 60----> print "you have received "c" grade"
# if the student is getting marks from 61 to 70----> print "you have received "B" grade"
# if the student is getting marks from 71 to 80----> print "you have received "B+" grade"
# if the student is getting marks from 81 to 90----> print "you have received "A" grade"
# if the student is getting marks from 91 to 100----> print "you have received "A+" grade"
# if the student is getting marks more than 100----> print "Don't be smart"
#write the code by using nested condition alomg with elif

**Loops**

In [ ]:
#Loops
#loops are defined as SET of instructions or set of rules
#what is the purpose of loops?
#The purpose of loops is to avoid the duplicate codes
#loops encourages to write DRY codes and to avoid WET codes
#How many types of codes?
#2types
#WET codes---> write everything twice
#DRY Codes--> don't repeat yourself

In [ ]:
#How many types ?
#two types
#While loop
#for loop

**while loop**

In [ ]:
#what is while loop?
#while loop is a set of instructions, runs untile the condition remians true
target = 5
initial = 1
while initial <= target:
  print("go up")
  print("go down")
  print("=========rep completed=========")
  initial = initial + 1

In [ ]:
print(1 <= 5)
print(2 <= 5)
print(3 <= 5)
print(4 <= 5)
print(5 <= 5)
print(6 <= 5)

In [ ]:
#write a basic program to run a lift if the user is given 4 stop the lift at 4th floor
user_input= int(input("enter the floor: "))
intial = 1
while intial <= user_input:
  print(f'you are at {intial} floor')
  intial = intial+1

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
#print multiples of 2 in above list
#[2,4,6,8,10,12,14,16,18]
print(a*2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**for loop**

-->Running a set of instruction over the collections

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
for i in a:            #i is known as iterator and process of iterationg is known as iterations
    print(i*2, end=",")   #end act like a delimeter is n othing but special character seprating each item in dataset

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
for i in a:
  print("Hello world!")

In [ ]:
#
b = "Hello"
for i in b:
  print(b)

In [ ]:
x= "iam supriya good girl"
for i in x:
  print(x)

**Break and continue**

In [ ]:
#Break:- it stops entire loop ireespective of items in the collections
num = [1,2,3,4,5,6,7,8,9]
for i in num:
  print(i)
  if i == 5:
    break

In [ ]:
#conitnue:- is used to skip the current iterations
num = [1,2,3,4,5,6,7,8,9]
for i in num:
  #skip the 3, 6, 9 from above collection and print all
  if i == 3 or i == 6 or i == 9:
    continue
  print(i,end=" ")
#Note:- we dob't have multiple breaks but we can skip multiple items at a time by using continue with 'or' operator

*** range***

In [ ]:
#range(end_number)
for i in range(11):
  print(i, end=" ")

In [ ]:
#range(start, end)
for i in range(1,5):
  print(i)

In [ ]:
#range(start,end,step)
for i in range(0,100,2):
  print(i, end =",")

*** collections***

In [ ]:
#There are 4 types
#1. List
#2. Tuple
#3. set
#4. Dictionary

In [ ]:
#There are two types of data in the collections
#1. Heterogenous data:- it is a collection of multiple data items for ex:- int,float,complex,strings..etc
#2. Homogenous Data:-  it is a collection of only one  data type. for ex:- either int, either float

list

In [ ]:
#what is a list?
#list can be decalred in --> []-->each element in list is separated by (,)
#List is defined as---> ordered, Muttable, and allows duplicates

list allow the duplicates

In [ ]:
#lets create a list
l1 = ["apple","banana","kiwi","pineapple","watermelon","apple","pineapple"]
print(l1)
#what is the length of above list?
print(len(l1))

list ordered

---

In [ ]:
#what is ordered?
#elements or items in the collection is having a sequence of index position numbers
l2 = ["apple","banana","kiwi","pineapple","watermelon","apple","pineapple"]
#from the above list print "kiwi"
#[index_position number]
print(l2[2])

In [ ]:
#from above list print a range of items from banana to watermelon
#[start_index:end_index] # end_index is always n+1
print(l2[1:5])

In [ ]:
#from above list i want even positional characters
#[start:end:step]
print(l2[0:7:2])
#similaralr print the odd position characters
print(l2[1:7:2])

negative indexing

In [ ]:
#whta is -ve Indexing?
#accessing the elements from collection in reverse direction
#Negative indexing starts from -1
l3 = ['banana', 'kiwi', 'pineapple', 'watermelon']
print(l3[3])
print(l3[-1])

In [ ]:
#can we print the range of items by using negative indexing by giving start:end
# print(l3[-1:-4])
# print(l3[-1:-5:-1])
print(l3[-4:-1])
"""Note:- when we are using negative indexing if the index number is from left to
right direction then we no need to define the step value as -1 other wise
if we want to reeverse any collection from right to left  then in slicing we need
to define step as -1"""

default indexing

In [ ]:
#what is default indexing?
#By default [start is 0: end is len(collection): step is 1]
l4 = ['banana', 'kiwi', 'pineapple', 'watermelon']
# print(l4[:])
# print(l4[::])
print(l4[::2])
print(l4[1::2])
print(l4[::-1])   #it reverse entire collections

**List is Muttable**

Mutable means it follows three properities

-- swapping or replace items from your collections

-- Additng new items to the collection

-- remove items from the collection

In [ ]:

# swapping or replace items from your list
l5 = ['R','PYTHON','JAVA','C++','C']
#replace the "R" with .net
#Note:- By using the index position numbers we replace the items from the collection
l5[0] = ".net"
print(l5)

In [ ]:
 #Additng new items to the existing list
#in above l5 add "css" in the list
print(dir(l5))
"""'append', 'clear', 'copy', 'count', 'extend', 'index',
'insert', 'pop', 'remove', 'reverse', 'sort'"""

In [ ]:
#1st :- Append() by default it adds the items at the end of the list
#what is the default index position ehrn you add items in list by using append()?
l6 = ['.net', 'PYTHON', 'JAVA', 'C++', 'C']
l6.append('css')
print(l6)

In [ ]:
#insert() :- it adds the items at particular index position?
l6.insert(2,'javascript')
l6

In [ ]:
st = 'Happy Christmas and Happy new year'


x = st.rsplit("Happy")  # Split by "Happy"

print(x)

In [ ]:
a = "hello world and hello"
print(a.split())
print(a.rsplit("hello"))

In [ ]:
if __name__ == '__main__':

In [ ]:
#Adding new items to the existing list
#what are all methods we can apply on specific object?
l6 = ['R','PYTHON','JAVA','C++','C']
print(dir(l6))
#1.append():- by default i adds the items add the end of the list
l6.append('CSS')
l6
#cab we add multiple items at a time by using the append function
#we cannot add why because append() can takes only one argument
l7 = [1,2,3,4,5]
l6.append(l7)
l6

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

['R', 'PYTHON', 'JAVA', 'C++', 'C', 'CSS', [1, 2, 3, 4, 5]]

In [ ]:
#if i want to add the items at particular index position? what method we need to use?
l8 = [1,2,3,4,6,7,8,9]
#add the '5' at 4th index position
l8.insert(4,5)
l8
#syntax:- insert(index_position, element)
#can we insert multiple items at a time?
#No we cannot why beacuse insert can take only two arguments one is index position and another one is element

In [ ]:
#How can we add the multiple items to the exisiting list?
# use 'extend()' adds the multiple items from any collection to the existing list
l9 = ['R', 'PYTHON', 'JAVA', 'C++', 'C', 'CSS']
l10 = ['apple','banana','pineapple']
#add the l10 in to l9
l9.extend(l10)
print(l9)
#what is default index position when you use the extend()?
#the items are adding at the end of the existing list

['R', 'PYTHON', 'JAVA', 'C++', 'C', 'CSS', 'apple', 'banana', 'pineapple']

Remove the items from the list

In [ ]:
#1. Pop() is used remove the items from the list and by default it removes last item of the list
l11 = ['R', 'PYTHON', 'JAVA', 'C++', 'C', 'CSS', 'apple', 'banana', 'pineapple']
l11.pop()

'pineapple'

In [ ]:
# print(l11)
l11.pop(-1)

In [ ]:
#Note:- pop(index_position_num) to remove the particular item and by default it removes last item of the list
l11.remove() #we need to give atleast one argument

In [ ]:
#2. remove() is used to remove the pecific item, So remove(item_name) id doesn't take index position
#from above list remove the "R" Language
l11.remove('R')
print(l11)
#Note:- we cannot remove the multiple items at a time by using remove() method

In [ ]:
#3.How can we remove multiple items from the list?
#  del collection_name[start:end:step]   by usine delete method
del l11[1:4]
l11

['PYTHON', 'CSS', 'apple']

In [ ]:
#4. i want to remove only items from the list
l12 = ['PYTHON', 'JAVA', 'C++', 'C', 'CSS', 'apple']
#use the  clear() to remove all the items from the list and print the empty list
#can we use del to remove entire items from the list---> yes we can use del method with slicing operator

l12.clear()
print(l12)

In [ ]:
#5. how can we delete the entire list
# use "del collection_name"
del l12
print(l12)

tuple

In [ ]:
#what is a tuple  and how to create this tuple?
#Tuple is decalred in ()
#Tuple is Ordered, Immutable, and allows the duplicates

tuple allows the duplicates

In [ ]:
t1 = ('apple','bananan','mango','apple','apple','pineapple')
print(len(t1))
print(type(t1))
print(t1)

Tuples are ordered

In [ ]:
#In tuples the items are in sequence of index position number
#By using index_position number we can access the items from the tuple
print(t1[2])
print(t1[1:5])
#reverse the entire tuple
print(t1[::-1])

mango
('bananan', 'mango', 'apple', 'apple')
('pineapple', 'apple', 'apple', 'mango', 'bananan', 'apple')

Tuple is immutable

In [ ]:
#we cannot replace, add and remove the items from tuple
print(dir(t1))

In [ ]:
t1[4] = "watermelon"
print(t1)

In [ ]:
#How can we replace or add the items from the tuple
# we need to convert the tuple into list
t_l = list(t1)
print(t_l)

In [ ]:
l_t = tuple(t_l)
print(l_t)

In [ ]:
#Tuples are faster than the list beacuse tuples are immutable means tuples are having fixed memory size
#When we need to use tuple and list?
#Tuple are used to store valuable information where we won't do any changes to that data
#List is used when we need to manipulate the data

*** SET***

In [ ]:
#What is a set and how can we define a set?
#set can be decalred in ---> {}
#set are defined as ---> unordered, immutable, and won't allow the duplicates

sets won't allow the duplicates

In [ ]:
s1 = {1,2,3,4,5,2,3,4,5,9}
#what is the length of the above set?
print(len(s1))
print(s1)

sets unordered

In [ ]:
#what is unordered?
#unordered means the elements in the set doesn't have index position numbers
s2={"apple","banana","pineapple","apple","watermelon"}
#print the "pineapple" from the above set.
print(s2[2])   #'set' object is not subscriptable bcz set doesn't have index position number

sets immutable

In [ ]:
#In sets we can add the items and we can remove the items but we cannot replace the elements in the set
s2={"apple","banana","pineapple","apple","watermelon"}
s2[3] = "muskmelon"
print(s2)  #'set' object does not support item assignment

add items in the set

In [ ]:
#add()
#add "muskmealon" in the s2
s2.add('muskmealon')
print(s2)

In [ ]:
#can we insert a element at particular index position?
#No

In [ ]:
print(dir(s2))

In [ ]:
#How can we add the multiple items into set at a time?
# By Using the "update()" we can add multiple items in to set
l1 = [1,2,3,4,5,6]
s3= {'apple', 'muskmealon', 'pineapple', 'banana', 'watermelon'}
s3.update(l1)
print(s3)

remove the items from the set

In [ ]:
#pop() this method is not preferable in sets
s4= {1, 2, 3, 4, 5, 6, 'watermelon', 'apple', 'muskmealon', 'pineapple', 'banana'}
s4.pop()
print(s4)

In [ ]:
s4.pop()

In [ ]:
#remove('item_name')
s4.remove('muskmealon')
print(s4)

In [ ]:
#discard('item_name')
s4.discard('banana')
print(s4)

In [ ]:
#what is the difference between remove and discard?
"""when we use "remove()" if the items exist in set then it wont rise an error,other wise itthroughs an error
when we use "discard" even if the item exist or not it won't show an error"""

s4.remove('banana')
print(s4)

In [ ]:
s4.discard('banana')
print(s4)

In [ ]:
#Note:-we cannot delete multiple items at a time in set.
#clear()
s4.clear()
print(s4)

In [ ]:
del s4
print(s4)

In [ ]:
#why sets are faster then the list and tuple?
#Bcz set is unordered and immutable
#set are used in matrix operations

In [ ]:
s1 = {'a','b','c','d'}
s2 = {'d','e','f','g'}
s = s1.union(s2)
print(s)

In [ ]:
#print the common data elements from 2 sets
s = s1.intersection(s2)
print(s)

Dictionary

In [ ]:
#what is dictionary? or How can you define an dictionarey
#dictionary ---> {}
#dictinary is defined as unordered, muttable, it wont allow the duplicates
#How can we store items in the dictionary?
# Key: value pair

dictionary won't allow the duplicates

In [ ]:
d1 = {
    'Name':'shahul',
    'education': 'Ms',
    'occupation': 'DS',
    'education':'B.Tech'
}
print(len(d1))
print(d1)

dictionary is unoredred

In [ ]:
print(d1[2])

In [ ]:
#How can we access the items from the dictionary?
#By using the key names
d1['occupation']
d1['Name']

dictionary is mutable

In [ ]:
#Add items to the dictionary
#add your fav  bike
d1['bike'] = 'RE'
print(d1)

replace the items from the dictionary

In [ ]:
d1['Name'] = 'sks'
print(d1)

remove the items from the dictionary

In [ ]:
#Pop('key_name)
d1.pop('bike')
print(d1)

In [ ]:
#clear()
d1.clear()
print(d1)

In [ ]:
d2 = {
    'Name':'shahul',
    'education': 'Ms',
    'occupation': 'DS',
    'education':'B.Tech',
    'fruits' : ['apple','mango','banana','kiwi']
}
#in  above dict print only apple
print(d2['fruits'][0])

In [ ]:
#replace the "kiwi" with 'dragonfruit'
d2['fruits'][3] = 'Dragon_fruits'
print(d2)

In [ ]:
print(dir(d1))

In [ ]:
#print only the keys from above dict?
print(d2.keys())
print(d2.values())

In [ ]:
print(d2)
print(d2.items())

In [ ]:
del d2
print(d2)

In [ ]:
def max_of_three (x,y,z):
 print(x,y,z)
max_of_three(10,20,30)

10 20 30

In [ ]:
def sum_of a [7,9,11,14]
print(7,9,11,14)
sum_of

*** Revision***

In [ ]:
   #Revision

1. What is Python?

most emerging ,general purpose, highlevel dynamically typed , OOP's, interpreted programming language

2. why comments are important?

for better understanding purpose we use comment

there 2 types of comments

1. single line comment----> #
2. multiline comment--->  """ """ or ''' '''

3. how many types of numerical dtypes?

     1. integer
     2. float
     3. complex number--->    2+5j

4. arthametic operators---> 7types

   --> +,-,*,/,%,**(exponenetial or tothe power off),//(floor division)

5. round()--->round() can be applicable for decimal number or float data types

6. Variable--> is acontiner where we can store our valuable information

      -->Rules


 7. INPUT():- is a inbuilt function used to store any kind of information from user

         --> the default dtype of input is string


 8. what is an string?

         --> string is sequence of characters where each character can be accessible
         how can we access the characters?
         --> By using indexing and slicing operator---> []
         what is indexing?
         --> positional number of each character
         --> string is ordered--> the characters is having the
         sequence of index position numbers

  9. what is an object oriented programming language?--->oop's

--> In python each line of code is having its own "identity","properties", "methods of interaction"

In [ ]:
print(10/3)
print(10//3)

In [ ]:
print(round(3.554789,2))
#the count decimal numbers after the decimal point is known as ndigits

In [ ]:
_ = "hel36346573@%43lo"

In [ ]:
a = input("enter number: ")
print(a)
print(type(a))

In [ ]:
a = "Hello"
print(a[4])
print(a[-1])
print(dir(a))
print(a.lower())
print(a.upper())
print(a.replace('Hello','Hi'))

**String Formatting method**

In [ ]:
#what is a string formatting method?
#it takes an argument and place over place-holder-->{}
age = 10
txt = f"I am {age} years old"  #f'string formatting {method}'
print(txt)

In [ ]:
item = input("enter item name: ")
price_each = int(input("enter price: "))
quantity = int(input("enter the total quantity "))
Notification = f"your order for {item}, has been confirmed, with an quantity of {quantity} and Total price {price_each*quantity}"
print(Notification)

***escape characters***

In [ ]:
#when we want to print illegal characters (" " or  ' ') along with the string we use escape characters
#escape characters can be decalred in backward slash (\)
a = "Dywane \"The Rock\" Johnson"
print(a)

Dywane "The Rock" Johnson

In [ ]:
son2age = 20

In [ ]:
user_input = input("Enter a number: ");
print("You entered: ", int(user_input))

Enter a number: 100
You entered:  100

In [ ]:

#What will be printed when the following executes?
str = "His shirt is red"
pos = str.find("is")
print(pos)

In [ ]:
#what is range()?
#it is a inbuilt function used to print range of numbers
for i in range(10):
  print(i,end = ",") #end act as a delimeter which means it separates each data item with some characters

In [ ]:
#print the range of numbers start from 1 to 20
#range(start,end)--> end is always n+1
for h in range(1,21):
  print(h,end=" ")

In [ ]:
#print the range of even numbers from 20 to 100
#range(start,end,step)
for i in range(20,101,2):
  print(i,end =" ")

20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
#calculate the sum of numbers from 1 to 10 by using loops?
sum = 0
for i in range(1,11):
  sum = sum + i
print(i)

In [ ]:
#2.print the numbers in reverse from 10 to 1 by using the loops?
for i in range(10,0,-1):
  print(i,end=" ")

In [ ]:
#3. print the string characters by using the loops in separate line?
h = "Hello World!"
for i in h:
  print(i)

In [ ]:
#4.print all upper case letters in a string using a for loop?
string = "Hello World"
for i in string:
  print(i.upper(),end="")

In [ ]:
#5.Count the number of vowerls in a string?
d = "Hello World"
vowels = "AEIOUaeiou"
count = 0 #store the count of vowels
for i in d:
  if i in vowels:
    count = count + 1
print(count)

In [ ]:
#6.print a pattern of stars * using the nested for loop?
for i in range(5):   #length of i is 5
  #print('*',end=" ")
  for j in range(i+1): #this will help you print the "*" in increasing order
    print("*",end="")
  print()

In [ ]:
#7.find the factorials of the numbers?
# 5-->     1*2*3*4*5
#both for loop and while
fact = 1
for i in range(1,6):
  fact = fact * i
  print(fact)

In [ ]:
start = 1
sum = 0
while start <= 10:
  sum = sum +start
  start = start + 1
print(sum)

*** collection ***

In [ ]:
#How many types of collections?
# 4types
#1. list
#2. tuple
#3. set
#4. dictionary

In [ ]:
#collection store two types of data
#1. Homogenous data
#2. Heterogenous data
#what is homogenous collection?
#collection of same data types is known as homogenous data
#what is heterogenous data?
#collection of multiple dtypes is known as heterogenous data

List

In [ ]:
#what is a list and how can we decalre a list? or Define a list?
#list --->[]
#list is defined as ordered, muttable(changable), and it allows the duplicate data

allows the duplicate data

In [ ]:
l1 = ['python','java','Dot Net','C++',"C","R",'python','java','NodeJS']
print(len(l1))
print(l1)

list is ordered

In [ ]:
l1 = ['python','java','Dot Net','C++',"C","R",'python','java','NodeJS']
#what is ordered?
#if the items in the collection is having a sequence of index position numbers then the collection is ordered

In [ ]:
#[start]
#print "Dot Net" from above list
print(l1[2])
#[start:end] #end is always n+1
#print the 'C++',"C","R"
print(l1[3:6])
#print the even index position characters
#[start:end:step]
print(l1[0:10:2])

In [ ]:
#print the last character of the above string
print(l1[-1])
#print a range of characters by using -ve indexing
print(l1[-4:-8:-1])

In [ ]:
print(l1[::2])
#reverse the entire list
print(l1[::-1])

**List is Muttable**

muttable means collection has to follow 3 properties
1. replace or swap the items
2. add new items
3. remove the items

*** replace or swap the items***

In [ ]:
#how can replace the items in list?
#by using the index position numbers
l2 = ['apple','banana','kiwi','mango','orange','apple']
#above list replace kiwi with watermelon
l2[2] = 'watermelon'
print(l2)

In [ ]:
#replace "banana', 'watermelon', 'mango' with kiwi,lemon,grapes"
l2[1:4] = "kiwi","lemon","grapes"
print(l2)

add new items in list

In [ ]:
#dir()
print(dir(l2))
"""'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop',
'remove', 'reverse', 'sort' """

In [ ]:
l3 = ['apple', 'kiwi', 'lemon', 'grapes', 'orange', 'apple']
#add "banana" to l3
#append()
#what is default index position when you use the append method?
#at the end of the list
l3.append('banana')
print(l3)
#Note we cannot add the multiple items by using the append method

In [ ]:
#add the item at particular index position--> use insert(index,item_name)
l3.insert(1,'dragon fruit')
print(l3)
#note:- we cannot add multiple items by using insert()#if i want to add the multiple items in above list
#use 'extend()' by default the items can be added at end index position
l4 = [1,2,3,4,5,6]
#add the l4 into l3
l3.extend(l4)

remove items from the list

In [ ]:
#1.pop('index') or pop() by defalut remove the end item
l5 = ['apple', 'dragon fruit', 'dragon fruit', 'kiwi', 'lemon', 'grapes', 'orange', 'apple', 'banana', 1, 2, 3, 4, 5, 6]
l5.pop()
print(l5)

In [ ]:
#remove(item_name)
l5.remove('dragon fruit')
print(l5)
#we cannot remove the multiple items at a time by using reve()

In [ ]:
#del collection_name[start:end]
del l5[7:12]
print(l5)

In [ ]:
#clear the items from the list and print the empty list
l5.clear()
print(l5)

In [ ]:
#delete the entire list
del l5
print(l5)

tuple

In [ ]:
#what is tuple or define tuple?
#Tuple:-()
#tuple is defined as 'ordered', immutable, allows the duplicates

tuple allows the duplicates

In [ ]:
t1 = ('apple', 'kiwi', 'lemon', 'grapes', 'apple', 'banana')
print(t1)
print(type(t1))
print(len(t1))

tuple is ordered

In [ ]:
print(t1[0])
print(t1[2:5])
print(t1[::-1])

using the list() functions

In [ ]:
alist = ['a','b','c','d']
blist = list(alist)
print(blist)

['a', 'b', 'c', 'd']

using slicing([:])

In [ ]:
blist = alist[:]
print(blist)

using the copy() method

In [ ]:
blist = alist.copy()
print(blist)

using the list comprehension

In [ ]:
blist = [i for i in alist]
print(blist)

['a', 'b', 'c', 'd']

**tuples are immutable**

in tuple we cannot replace, add, remove the items from the tuple

In [ ]:
l = list(t1)
print(l)
t2 = tuple(l)
print(t2)

In [ ]:
#find the minimum number in alist?
list= [2,15,85,65,35,45,12,5,6,8,12,2,124]
min = list[0]
for i in list:
  if min > i:
    min = i
print(min)

In [ ]:
#find the maximum number in alist?
list= [2,15,85,65,35,45,12,5,6,8,12,2,124]
max = list[0]
for i in list:
  if max < i:
    max = i
print(max)

124

In [ ]:
a = [10,35,29,78,46,58,63]
#result = sum(l1)
#print(result)
sum = 0
for i in a:
  sum = sum+i
  print(sum)

In [ ]:
# find the middle element in the list
list =[1,2,3,4,5]
mid =  int(len(list/2))
print(list[mid])

In [ ]:
str1 = "Listen"
str2 = "silent"
s1 = str1.lower()
s2 = str2.lower()
if len(s1) == len(s2):
  #print('string in the smae length')
  #sort the string
  sort1 = sorted(s1)
  sort2 = sorted(s2)
  if sort1 == sort2:
    print(f"{str1} and {str2} are anagrams")
  else:
    print(f"{str1} and {str2} are not anagrams")