<a href="https://colab.research.google.com/github/supriyajujjuri/python/blob/main/task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#How do I randomly select rows from NumPy array?

create an array of 50 and reshape it into 5 rows and 10 columns

#Convert Numpy array to JSON

Array to JSON

#How do you replace items that satisfy a condition with another value in Numpy array?

Replace all elements which are greater than 30 to 0

input:- [49, 7, 44, 27, 13, 35, 71]

#How to count frequency of unique values in a NumPy array in Python?

Find number of times a value appears in the list

sample input:- [9, 7, 4, 7, 3, 5, 9]

#read the data from the group

explore the data

1. check for null values
2. check for duplicate values
3. check for dtype corrections
4. rename the columns date and time with "Date"  and "Time
5. By Using the iloc print 0:5 rows and 1,3,5 column indexes
6. convert df["stop_datetime"] to to_datetime format